/* 

.painel{
    margin-top: 60px;
    background-color: rgba(0, 0,0, 0.8);
    padding: 20px;
    border-radius: 7px;
    width: 300px;
    color: white;
}

.title_main{
    text-align: center;
}

.weapon_register{
    display: flex;
    flex-direction: column;
}

.weapon_item{
    display: flex;
    flex-direction: column;
}

.weapon_item label{
    margin-left: 5px;
    margin-bottom: 5px;
}

.weapon_item input{
    margin-bottom: 10px;
}
 */




 body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to bottom right, #2c3e50, #34495e); */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    width: 90%;
    max-width: 800px;
}

.painel {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.title_main{
    
    text-align: center;
}

.title_main h2 {
    font-size: 24px;
    color: #ecf0f1;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #3498db;
    display: inline-block;
    padding-bottom: 5px;
}



.weapon_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 20px;
}

.weapon_item label {
    font-size: 14px;
    color: #bdc3c7;
    margin-left: 10px;
}

.weapon_item input {
    padding: 10px;
    border: 1px solid #7f8c8d;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #ecf0f1;
    outline: none;
    transition: border-color 0.3s;
}

.weapon_item input:focus {
    border-color: #3498db;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    width: 200px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-transform: uppercase;
}

button:hover {
    background-color: #175179;
    /* transform: scale(1.05); */
}

button:active {
    transform: scale(1);
}

.title_main h3 {
    font-size: 18px;
    color: #eceff1;
    margin-bottom: 10px;
    
    border-bottom: 2px solid #3498db;
}



.table-container {
    max-width: 100%; /* Limita a largura total do contêiner */
    max-height: 400px; /* Limita a altura do contêiner */
    overflow-x: auto; /* Ativa o scroll horizontal, se necessário */
    overflow-y: auto; /* Ativa o scroll vertical, se necessário */
    border: 1px solid #7f8c8d; /* Opcional: borda ao redor do contêiner */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table thead th {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 10px;
    text-align: left;
    position: sticky;
    top: 0; /* Mantém os cabeçalhos fixos durante o scroll vertical */
    z-index: 1;
}

table tbody td {
    background-color: #2c3e50;
    color: #bdc3c7;
    padding: 10px;
    border-bottom: 1px solid #7f8c8d;
}

table tbody tr:hover {
    background-color: #3e5363;
}

.for_me, .for_user {
    margin-top: 10px;
}

.for_user label {
    font-size: 14px;
    color: #bdc3c7;
    margin-left: 10px;
}

.for_user input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #7f8c8d;
    border-radius: 5px;
    background-color: #2c3e50;
    color: #ecf0f1;
    margin-bottom: 10px;
}

.for_me button, .for_user button {
    /* width: 100%; */
    padding: 10px;
}

#container{
    display: none;
}